.main-container {
    background-color: #bbbdc9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.main-container .div-3 {
    height: 100%;
    position: relative;
    width: 100%;
}


.container {
    align-items: center;
    /* align-items: flex-start; */
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    gap: 20px;
    top: 112px;
    left: 15px;
    /* background-color: rgb(137, 43, 226); */
    width: 100%;
    padding-bottom: 85px !important;
}


.main-content {
    display: flex;
    flex: 0 0 auto;
    gap: 50px;
    position: relative;
    padding: 0px 20px;
}

.left {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.top-2 {
    display: flex;
    flex: 0 0 auto;
    gap: 20px;
    position: relative;
    width: 100%;
}


.right {
    align-items: flex-end;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 19px;
    position: relative;
    width: 321px;
}


.bottom {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    padding: 10px 15px;
    position: relative;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.text-wrapper-7 {
    color: var(--black-60);
    font-family: var(--paragraph-1-medium-font-family);
    font-size: var(--paragraph-1-medium-font-size);
    font-style: var(--paragraph-1-medium-font-style);
    font-weight: var(--paragraph-1-medium-font-weight);
    letter-spacing: var(--paragraph-1-medium-letter-spacing);
    line-height: var(--paragraph-1-medium-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.frame-wrapper {
    background-color: #d2356514;
    border-radius: 8px;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 99px;
}


.fi-chevron-down-2 {
    height: 20px;
    position: relative;
    width: 20px;
}

.text-wrapper-10 {
    color: var(--black-20);
    font-family: var(--label-2-regular-font-family);
    font-size: var(--label-2-regular-font-size);
    font-style: var(--label-2-regular-font-style);
    font-weight: var(--label-2-regular-font-weight);
    letter-spacing: var(--label-2-regular-letter-spacing);
    line-height: var(--label-2-regular-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}


@media screen and (max-width: 768px) {
    .main-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .top-2 {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .left,
    .right,
    .bottom {
        width: 100%;
    }

}


.fi-chevron-down-screen {
    height: 16px;
    position: relative;
    width: 16px;
}

.fi-chevron-down-screen .vector {
    height: 6px;
    left: 3px;
    position: absolute;
    top: 5px;
    width: 10px;
}

.fi-shopping-cart-screen {
    height: 20px;
    position: relative;
    width: 20px;
}

.fi-shopping-cart-screen .vector {
    height: 18px;
    left: 9px;
    position: absolute;
    top: 8px;
}

.fi-shopping-cart-screen .img {
    height: 14px;
    left: 6px;
    position: absolute;
    top: 16px;
    width: 4px;
}

.fi-shopping-cart-screen .vector-2 {
    height: 14px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}


.iconly-bulk-home {
    height: 16px;
    position: relative;
    width: 16px;
}

.iconly-bulk-home .img {
    height: 13px;
    left: 2px;
    position: absolute;
    top: 1px;
    width: 13px;
}


.iconly-light-bag {
    height: 40px;
    position: relative;
    width: 20px;
}

.iconly-light-bag .img {
    height: 18px;
    left: 9px;
    position: absolute;
    top: 8px;
    width: 17px;
}


.iconly-light-folder {
    height: 20px;
    position: relative;
    width: 20px;
}

.iconly-light-folder .img {
    height: 18px;
    left: 9px;
    position: absolute;
    top: 8px;
}


.iconly-light-graph {
    height: 20px;
    position: relative;
    width: 20px;
}

.iconly-light-graph .img {
    height: 18px;
    left: 9px;
    position: absolute;
    top: 8px;
    width: 18px;
}

.iconly-light-heart {
    height: 24px;
    position: relative;
    width: 24px;
}

.iconly-light-heart .img {
    height: 19px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 20px;
}

.iconly-light-user {
    height: 20px;
    position: relative;
    width: 20px;
}

.iconly-light-user .element-user {
    height: 16px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 17px;
}

.box {
    height: 18px;
    width: 18px;
}

.box .vuesax-bold {
    height: 18px;
    left: 0;
    position: fixed;
    top: 0;
    width: 18px;
}




